 * {
    width: 100%;
    height: 100%;
    margin: 0;
 }
     .container-1 {
      margin-top: 10%;
      margin-left: 20%;
        display: flex;
        flex-direction: row;
        border: 2px ;
        background-color: white;
        width: 60%;
        height: 300px;
     }

  .box-a {
     display: flex;
     flex-direction: column;
     margin-bottom: 2%;
     background-color: white;
     margin-left: 2%;
      }
  .box-b{
   margin-top: 9%;
   margin-left: 2%;
  }
  .new-div {
     display: flex;
     flex-direction: row;
  }

  .named {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
  }

  .box-1 {

     width: 300px;
     height: 300px;
  }

  .box-2 {
     background-color: white;
  }
  .share-img {
      width: 20px;
         height: 20px;
         transition: transform .2s;
         }
         
         .share-img:hover {
            transform: scale(1.5);
  }

  .box-3 {
     display: flex;
     flex-direction: row;
     width: 20%;
     margin-top: 3%;

  }
  .named {
   display: flex;
     flex-direction: column;
      margin-top: 5%;
  }

  .michelle {
     width: 50px;
     height: 50px;
     border-radius: 25px;
     align-items: flex-end;
  }
        .profile-name{
         height: 20%;
      }
      .bdate{

      }
      .michele-img{

      }

  .background {
     background-color: hsl(212, 23%, 69%);
  }

  
 @media(max-width:800px){
   * {
         width: 100%;
         height: 100%;
         margin: 0;
      }
   
      .container-1 {
         margin-top: 10%;
         margin-left: 20%;
         display: flex;
         flex-direction: column;
         background-color: white;
         width: 60%;
         height: max-content;
      }
   
      .box-a {
         display: flex;
         flex-direction: column;
         margin-bottom: 2%;
         background-color: white;
   
      }
   
      .new-div {
         margin-top: 10%;
         display: flex;
         flex-direction: row;
      }
   
      .named {
         padding: 15px;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
      }
   
      .box-1 {
   
         width: 100%;
         height: 300px;
      }
   
      .box-2 {
         background-color: white;
      }
   
      .share-img {
         width: 20px;
         height: 20px;
        
      }
   
      .box-3 {
         display: flex;
         flex-direction: row;
         width: 20%;
   
      }
   
      .named {
         display: flex;
         flex-direction: column;
      }
   
      .michelle {
         width: 50px;
         height: 50px;
         border-radius: 25px;
         align-items: flex-end;
      }
   
      .profile-name {
         height: 20%;
      }
   
      .bdate {}
   
      .michele-img {}
   
      .background {
         background-color: hsl(212, 23%, 69%);
      }
 }
 